body {
	background-color: #FFF;
} 
/*#loginPanel {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 300px;  
	margin-top: -150px;
	width: 300px;  
	margin-left: -150px;
}*/
.logo {
	text-align:center;
	margin-top:50px;
	padding:10px;
}
/*#loginPanel {
	border-bottom: 1px solid #eee;
}*/
